@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
body {
  background-color: #f5f8f9 !important; }

.container {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  min-height: 300px;
  color: #3e3f3a;
  max-width: 1300px !important; }

.header {
  background-color: #0b4366;
  margin-bottom: 20px;
  color: #ffffff;
  padding: 10px 0; }

.header__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; }

@media (max-width: 1299px) {
  .header__content {
    padding: 0 15px; } }

.header__userinfo {
  float: right;
  margin-top: -35px; }
  .header__userinfo i {
    font-size: 30px;
    vertical-align: middle;
    margin-left: 4px; }

@media (max-width: 577px) {
  .header__username {
    display: none; } }

.search {
  position: relative; }

.search input {
  text-indent: 30px; }

.search .fa-search {
  color: #3e3f3a;
  position: absolute;
  top: 14px;
  left: 25px;
  font-size: 15px; }

.text-input {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 42px; }

.text-input::placeholder {
  color: #ded7ca; }

.button {
  padding: 20px 40px;
  font-size: 12px;
  border-radius: 5px;
  margin-bottom: 10px; }

.button:hover {
  opacity: .9; }

.button--main {
  background-color: #128da3;
  color: #fff;
  margin-top: 20px; }

.sidebar ul {
  margin: 10px 0 0 0;
  padding: 0; }

.sidebar img {
  margin: -1px 3px 0 0;
  border-radius: 4px; }

.sidebar .list {
  list-style: none;
  height: 80px;
  width: 100%;
  border: 1px solid #d0dfeb;
  border-radius: 5px;
  font-size: 17px;
  padding: 20px 0 0 15px;
  cursor: pointer;
  margin: 0 0 15px 0; }

@media (max-width: 577px) {
  .sidebar .list {
    font-size: 20px; } }

.sidebar .list:hover {
  background: #d0dfeb; }

.rating i {
  font-size: 26px;
  margin-right: 5px;
  color: #ccc; }

.rating i.fas {
  color: #722020; }

.profile {
  margin-top: 12px; }

.profile__name {
  font-size: 25px; }

.profile__image {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px; }

@media (max-width: 767px) {
  .profile__image {
    max-width: 100%;
    max-height: 100%; } }

.profile__description {
  margin: 25px 0 30px;
  font-size: 18px;
  border-left: 6px solid #eeeeee; }

.likes .fa-li i {
  font-size: 12px; }

.likes .fa-li {
  margin-top: -1px; }

.likes__header {
  background-color: #eeeeee;
  padding: 5px 5px 5px 10px;
  font-size: 20px;
  font-weight: bold; }
